# –ò—Å—Å–ª–µ–¥–æ–≤–∞–Ω–∏–µ —Å—Ç—Ä—É–∫—Ç—É—Ä—ã DataFrame

In [ ]:
# imports
import sys
import os
from pathlib import Path
import pandas as pd
import numpy as np

# settings view dataframes
pd.set_option('display.max_columns', 50)
pd.set_option('display.width', 120)

DATA_PATH = Path('data') / 'melb_data.csv'
if not DATA_PATH.is_file():
    raise FileNotFoundError(f"–ù–µ –Ω–∞–π–¥–µ–Ω —Ñ–∞–π–ª: {DATA_PATH.resolve()}")

# load dataset
melb_data = pd.read_csv(DATA_PATH)

# fast sanity-check
print('–§–æ—Ä–º–∞ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö (–∫–æ–ª-–≤–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤):', melb_data.shape)
print('–ü–µ—Ä–≤—ã–µ 5 —Å—Ç–æ–ª–±—Ü–æ–≤:', list(melb_data.columns[:5]))

–§–æ—Ä–º–∞ –Ω–∞–±–æ—Ä–∞ –¥–∞–Ω–Ω—ã—Ö (–∫–æ–ª-–≤–æ —Å—Ç—Ä–æ–∫ –∏ —Å—Ç–æ–ª–±—Ü–æ–≤): (13580, 23)
–ü–µ—Ä–≤—ã–µ 5 —Å—Ç–æ–ª–±—Ü–æ–≤: ['index', 'Suburb', 'Address', 'Rooms', 'Type']

In [22]:
# read melb_data.csv
melb_data = pd.read_csv(DATA_PATH, sep=',')
print(melb_data)

       index         Suburb           Address  Rooms Type      Price Method   SellerG        Date  Distance  Postcode  \
0          0     Abbotsford      85 Turner St      2    h  1480000.0      S    Biggin   3/12/2016       2.5      3067
1          1     Abbotsford   25 Bloomburg St      2    h  1035000.0      S    Biggin   4/02/2016       2.5      3067
2          2     Abbotsford      5 Charles St      3    h  1465000.0     SP    Biggin   4/03/2017       2.5      3067
3          3     Abbotsford  40 Federation La      3    h   850000.0     PI    Biggin   4/03/2017       2.5      3067
4          4     Abbotsford       55a Park St      4    h  1600000.0     VB    Nelson   4/06/2016       2.5      3067
...      ...            ...               ...    ...  ...        ...    ...       ...         ...       ...       ...
13575  13575  Wheelers Hill      12 Strada Cr      4    h  1245000.0      S     Barry  26/08/2017      16.7      3150
13576  13576   Williamstown     77 Merrett Dr      3    h  1031000.0     SP  Williams  26/08/2017       6.8      3016
13577  13577   Williamstown       83 Power St      3    h  1170000.0      S     Raine  26/08/2017       6.8      3016
13578  13578   Williamstown      96 Verdon St      4    h  2500000.0     PI   Sweeney  26/08/2017       6.8      3016
13579  13579     Yarraville        6 Agnes St      4    h  1285000.0     SP   Village  26/08/2017       6.3      3013

       Bedroom  Bathroom  Car  Landsize  BuildingArea  YearBuilt CouncilArea  Lattitude  Longtitude  \
0          2.0       1.0  1.0     202.0         126.0     1970.0       Yarra  -37.79960   144.99840
1          2.0       1.0  0.0     156.0          79.0     1900.0       Yarra  -37.80790   144.99340
2          3.0       2.0  0.0     134.0         150.0     1900.0       Yarra  -37.80930   144.99440
3          3.0       2.0  1.0      94.0         126.0     1970.0       Yarra  -37.79690   144.99690
4          3.0       1.0  2.0     120.0         142.0     2014.0       Yarra  -37.80720   144.99410
...        ...       ...  ...       ...           ...        ...         ...        ...         ...
13575      4.0       2.0  2.0     652.0         126.0     1981.0         NaN  -37.90562   145.16761
13576      3.0       2.0  2.0     333.0         133.0     1995.0         NaN  -37.85927   144.87904
13577      3.0       2.0  4.0     436.0         126.0     1997.0         NaN  -37.85274   144.88738
13578      4.0       1.0  5.0     866.0         157.0     1920.0         NaN  -37.85908   144.89299
13579      4.0       1.0  1.0     362.0         112.0     1920.0         NaN  -37.81188   144.88449

                       Regionname  Propertycount           Coordinates
0           Northern Metropolitan         4019.0    -37.7996, 144.9984
1           Northern Metropolitan         4019.0    -37.8079, 144.9934
2           Northern Metropolitan         4019.0    -37.8093, 144.9944
3           Northern Metropolitan         4019.0    -37.7969, 144.9969
4           Northern Metropolitan         4019.0    -37.8072, 144.9941
...                           ...            ...                   ...
13575  South-Eastern Metropolitan         7392.0  -37.90562, 145.16761
13576        Western Metropolitan         6380.0  -37.85927, 144.87904
13577        Western Metropolitan         6380.0  -37.85274, 144.88738
13578        Western Metropolitan         6380.0  -37.85908, 144.89299
13579        Western Metropolitan         6543.0  -37.81188, 144.88449

[13580 rows x 23 columns]

In [35]:
price = melb_data['Price'][15]
print(price)
date_sell_object_90 = melb_data.loc[90, 'Date']
print(date_sell_object_90)

#–í–æ —Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –ø–ª–æ—â–∞–¥—å –ø—Ä–∏–ª–µ–≥–∞—é—â–µ–π —Ç–µ—Ä—Ä–∏—Ç–æ—Ä–∏–∏, –Ω–∞ –∫–æ—Ç–æ—Ä–æ–π –Ω–∞—Ö–æ–¥–∏—Ç—Å—è 
# –∑–¥–∞–Ω–∏–µ —Å –∏–Ω–¥–µ–∫—Å–æ–º 3521, –±–æ–ª—å—à–µ –ø–ª–æ—â–∞–¥–∏ —É—á–∞—Å—Ç–∫–∞, –Ω–∞ –∫–æ—Ç–æ—Ä–æ–º –Ω–∞—Ö–æ–¥–∏—Ç—Å—è 
# –∑–¥–∞–Ω–∏–µ —Å –∏–Ω–¥–µ–∫—Å–æ–º 1690? –û—Ç–≤–µ—Ç –æ–∫—Ä—É–≥–ª–∏—Ç–µ –¥–æ —Ü–µ–ª–æ–≥–æ —á–∏—Å–ª–∞.
area_3521 = melb_data.loc[3521, 'Landsize']
area_1690 = melb_data.loc[1690, 'Landsize']
print(round(area_3521 / area_1690))

1310000.0
10/09/2016
3

In [ ]:
#print(melb_data.head(1).T)     # head - –ø–µ—Ä–≤—ã–µ —Å—Ç—Ä–æ–∫–∏
#print(melb_data.tail(2).T)     # tail - –ø–æ—Å–ª–µ–¥–Ω–∏–µ —Å—Ç—Ä–æ–∫–∏
#melb_data.info()               # –≤—ã–≤–æ–¥ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏–∏ –æ –¥–∞—Ç–∞—Ñ—Ä–µ–π–º–µ

#–ò–∑–º–µ–Ω–∏—Ç—å —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –≤ —Å—Ç–æ–ª–±—Ü–µ
#melb_data['Car'] = melb_data['Car'].astype('int64')
#melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
#melb_data.info()

# –û–ø–∏—Å–∞—Ç–µ–ª—å–Ω–∞—è —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫–∞ —Å –º–µ—Ç–æ–¥–æ–º `describe()`

## –û—Å–Ω–æ–≤–Ω–æ–µ –ø—Ä–∏–º–µ–Ω–µ–Ω–∏–µ

–ú–µ—Ç–æ–¥ `DataFrame.describe()` ‚Äî —ç—Ç–æ –º–æ—â–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç –¥–ª—è –±—ã—Å—Ç—Ä–æ–≥–æ –ø–æ–ª—É—á–µ–Ω–∏—è –æ—Å–Ω–æ–≤–Ω—ã—Ö —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏—Ö —Ö–∞—Ä–∞–∫—Ç–µ—Ä–∏—Å—Ç–∏–∫ –¥–∞–Ω–Ω—ã—Ö. –û—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–µ–Ω –Ω–∞ —ç—Ç–∞–ø–µ –ø–µ—Ä–≤–∏—á–Ω–æ–≥–æ –∞–Ω–∞–ª–∏–∑–∞ –¥–∞–Ω–Ω—ã—Ö (EDA - Exploratory Data Analysis).

## –î–ª—è —á–∏—Å–ª–æ–≤—ã—Ö –¥–∞–Ω–Ω—ã—Ö (–ø–æ —É–º–æ–ª—á–∞–Ω–∏—é)

–ü–æ —É–º–æ–ª—á–∞–Ω–∏—é –º–µ—Ç–æ–¥ —Ä–∞–±–æ—Ç–∞–µ—Ç —Å —á–∏—Å–ª–æ–≤—ã–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏ (`int64` –∏ `float64`) –∏ –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç —Å–ª–µ–¥—É—é—â–∏–µ –ø–æ–∫–∞–∑–∞—Ç–µ–ª–∏:

| –ü–æ–∫–∞–∑–∞—Ç–µ–ª—å | –û–ø–∏—Å–∞–Ω–∏–µ |
|------------|----------|
| `count` | –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–ø—É—Å—Ç—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π |
| `mean` | –°—Ä–µ–¥–Ω–µ–µ –∞—Ä–∏—Ñ–º–µ—Ç–∏—á–µ—Å–∫–æ–µ |
| `std` | –°—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ |
| `min` | –ú–∏–Ω–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ |
| `25%` | –ü–µ—Ä–≤—ã–π –∫–≤–∞—Ä—Ç–∏–ª—å (25-–π –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—å) |
| `50%` | –ú–µ–¥–∏–∞–Ω–∞ (50-–π –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—å) |
| `75%` | –¢—Ä–µ—Ç–∏–π –∫–≤–∞—Ä—Ç–∏–ª—å (75-–π –ø–µ—Ä—Ü–µ–Ω—Ç–∏–ª—å) |
| `max` | –ú–∞–∫—Å–∏–º–∞–ª—å–Ω–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ |

**üí° –ü—Ä–∏–º–µ—á–∞–Ω–∏–µ:** –ù–∞—É—á–Ω–∞—è –Ω–æ—Ç–∞—Ü–∏—è `9.0e+06` –æ–∑–Ω–∞—á–∞–µ—Ç `9 √ó 10‚Å∂ = 9,000,000`

## –î–ª—è –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã—Ö –¥–∞–Ω–Ω—ã—Ö

–° –ø–æ–º–æ—â—å—é –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ `include=['object']` –º–æ–∂–Ω–æ –ø–æ–ª—É—á–∏—Ç—å —Å—Ç–∞—Ç–∏—Å—Ç–∏–∫—É –¥–ª—è —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤:

| –ü–æ–∫–∞–∑–∞—Ç–µ–ª—å | –û–ø–∏—Å–∞–Ω–∏–µ |
|------------|----------|
| `count` | –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–ø—É—Å—Ç—ã—Ö —Å—Ç—Ä–æ–∫ |
| `unique` | –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π |
| `top` | –°–∞–º–æ–µ —á–∞—Å—Ç–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ (–º–æ–¥–∞) |
| `freq` | –ß–∞—Å—Ç–æ—Ç–∞ –ø–æ—è–≤–ª–µ–Ω–∏—è –º–æ–¥—ã |

## –ü—Ä–∏–º–µ—Ä—ã –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è

```python
# –î–ª—è –≤—Å–µ—Ö —á–∏—Å–ª–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
melb_data.describe()

# –î–ª—è —Ç–µ–∫—Å—Ç–æ–≤—ã—Ö —Å—Ç–æ–ª–±—Ü–æ–≤
melb_data.describe(include=['object'])

# –î–ª—è –≤—Å–µ—Ö —Ç–∏–ø–æ–≤ –¥–∞–Ω–Ω—ã—Ö
melb_data.describe(include='all')
```

## –î–æ–ø–æ–ª–Ω–∏—Ç–µ–ª—å–Ω–∞—è –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è

**–°—Ç–∞–Ω–¥–∞—Ä—Ç–Ω–æ–µ –æ—Ç–∫–ª–æ–Ω–µ–Ω–∏–µ** –ø–æ–∫–∞–∑—ã–≤–∞–µ—Ç, –Ω–∞—Å–∫–æ–ª—å–∫–æ –∑–Ω–∞—á–µ–Ω–∏—è –æ—Ç–∫–ª–æ–Ω—è—é—Ç—Å—è –æ—Ç —Å—Ä–µ–¥–Ω–µ–≥–æ.

**–ö–≤–∞—Ä—Ç–∏–ª–∏** –¥–µ–ª—è—Ç –¥–∞–Ω–Ω—ã–µ –Ω–∞ —á–µ—Ç—ã—Ä–µ —Ä–∞–≤–Ω—ã–µ —á–∞—Å—Ç–∏, –ø–æ–º–æ–≥–∞—è –ø–æ–Ω—è—Ç—å —Ä–∞—Å–ø—Ä–µ–¥–µ–ª–µ–Ω–∏–µ –∑–Ω–∞—á–µ–Ω–∏–π.

In [58]:
# –≤—ã–≤–µ–¥–µ–º –Ω–∞ —ç–∫—Ä–∞–Ω –∑–Ω–∞—á–µ–Ω–∏–µ —Å—Ç–∞—Ç–∏—Å—Ç–∏—á–µ—Å–∫–∏—Ö –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ 
# —Ç–æ–ª—å–∫–æ –¥–ª—è —Å—Ç–æ–ª–±—Ü–æ–≤ Distance (—Ä–∞—Å—Å—Ç–æ—è–Ω–∏–µ –æ—Ç –æ–±—ä–µ–∫—Ç–∞ –Ω–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç–∏ 
# –¥–æ —Ü–µ–Ω—Ç—Ä–∞ –ú–µ–ª—å–±—É—Ä–Ω–∞), BuildingArea (–ø–ª–æ—â–∞–¥—å –∑–¥–∞–Ω–∏—è) –∏ Price (—Ü–µ–Ω–∞ –æ–±—ä–µ–∫—Ç–∞):
melb_data.describe().loc[:, ['Distance', 'BuildingArea' , 'Price']]

           Distance  BuildingArea         Price
count  13580.000000  13580.000000  1.358000e+04
mean      10.137776    139.633972  1.075684e+06
std        5.868725    392.217403  6.393107e+05
min        0.000000      0.000000  8.500000e+04
25%        6.100000    122.000000  6.500000e+05
50%        9.200000    126.000000  9.030000e+05
75%       13.000000    129.940000  1.330000e+06
max       48.100000  44515.000000  9.000000e+06

In [59]:
#–ù–∞–ø—Ä–∏–º–µ—Ä, –¥–ª—è —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö object –º–µ—Ç–æ–¥ describe() –≤–æ–∑–≤—Ä–∞—â–∞–µ—Ç DataFrame, –≤ –∫–æ—Ç–æ—Ä–æ–º —É–∫–∞–∑–∞–Ω—ã:
#–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ –Ω–µ–ø—É—Å—Ç—ã—Ö —Å—Ç—Ä–æ–∫ (count);
#–∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (unique);
#—Å–∞–º–æ–µ —á–∞—Å—Ç–æ–µ –∑–Ω–∞—á–µ–Ω–∏–µ ‚Äî –º–æ–¥–∞ ‚Äî  (top);
#—á–∞—Å—Ç–æ—Ç–∞ ‚Äî –æ–±—ä—ë–º –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏—è ‚Äî —ç—Ç–æ–≥–æ –∑–Ω–∞—á–µ–Ω–∏—è (freq) –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —Å—Ç–æ–ª–±—Ü–∞ —Ç–∏–ø–∞ object –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü—ã.

melb_data.describe(include=['object'])

,Suburb,Address,Type,Method,SellerG,Date,CouncilArea,Regionname,Coordinates
count,13580,13580,13580,13580,13580,13580,12211,13580,13580
unique,314,13378,3,5,268,58,33,8,13097
top,Reservoir,36 Aberfeldie St,h,S,Nelson,27/05/2017,Moreland,Southern Metropolitan,"-37.8361, 144.9966"
freq,359,3,9449,9022,1565,473,1163,4695,12

In [60]:
#–î–ª—è —Ç–æ–≥–æ —á—Ç–æ–±—ã –æ–ø—Ä–µ–¥–µ–ª–∏—Ç—å, —Å–∫–æ–ª—å–∫–æ —Ä–∞–∑ –≤ —Å—Ç–æ–ª–±—Ü–µ –ø–æ–≤—Ç–æ—Ä—è–µ—Ç—Å—è 
# –∫–∞–∂–¥—ã–π –∏–∑ –≤–∞—Ä–∏–∞–Ω—Ç–æ–≤ –∑–Ω–∞—á–µ–Ω–∏–π (—Ç.–µ. –Ω–∞–π—Ç–∏ —á–∞—Å—Ç–æ—Ç—É –¥–ª—è –∫–∞–∂–¥–æ–≥–æ —É–Ω–∏–∫–∞–ª—å–Ω–æ–≥–æ –∑–Ω–∞–Ω–∏—è), 
# –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –º–µ—Ç–æ–¥ value_counts().

melb_data['Regionname'].value_counts()

Regionname
Southern Metropolitan         4695
Northern Metropolitan         3890
Western Metropolitan          2948
Eastern Metropolitan          1471
South-Eastern Metropolitan     450
Eastern Victoria                53
Northern Victoria               41
Western Victoria                32
Name: count, dtype: int64

In [61]:
#–ß—Ç–æ–±—ã —Å–¥–µ–ª–∞—Ç—å –≤—ã–≤–æ–¥ –±–æ–ª–µ–µ –∏–Ω—Ç–µ—Ä–ø—Ä–µ—Ç–∏—Ä—É–µ–º—ã–º –∏ –ø–æ–Ω—è—Ç–Ω—ã–º, 
# –º–æ–∂–Ω–æ –≤–æ—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å—Å—è –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–º normalize. –ü—Ä–∏ —É—Å—Ç–∞–Ω–æ–≤–∫–µ –∑–Ω–∞—á–µ–Ω–∏—è 
# —ç—Ç–æ–≥–æ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞ –Ω–∞ True —Ä–µ–∑—É–ª—å—Ç–∞—Ç –±—É–¥–µ—Ç –ø—Ä–µ–¥—Å—Ç–∞–≤–ª—è—Ç—å—Å—è –≤ –≤–∏–¥–µ –¥–æ–ª–∏ 
# (–æ—Ç–Ω–æ—Å–∏—Ç–µ–ª—å–Ω–æ–π —á–∞—Å—Ç–æ—Ç—ã):
melb_data['Regionname'].value_counts(normalize=True)

Regionname
Southern Metropolitan         0.345729
Northern Metropolitan         0.286451
Western Metropolitan          0.217084
Eastern Metropolitan          0.108321
South-Eastern Metropolitan    0.033137
Eastern Victoria              0.003903
Northern Victoria             0.003019
Western Victoria              0.002356
Name: proportion, dtype: float64

In [ ]:
# –ö–∞–∫–æ–π —Ç–∏–ø –¥–∞–Ω–Ω—ã—Ö –∏–º–µ–µ—Ç —Å—Ç–æ–ª–±–µ—Ü Coordinates
print(melb_data['Coordinates'].dtype)

object

In [70]:
# –°–∫–æ–ª—å–∫–æ –ø—Ä–æ–ø—É—â–µ–Ω–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ CouncilArea?
print(melb_data['CouncilArea'].isnull().sum())

1369

In [71]:
# –ö–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π (unique) –≤ —Å—Ç–æ–ª–±—Ü–µ Address –±–æ–ª—å—à–µ, 
# —á–µ–º –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –∑–Ω–∞—á–µ–Ω–∏–π –≤ —Å—Ç–æ–ª–±—Ü–µ Coordinates. 
# –≠—Ç–æ –∑–Ω–∞—á–∏—Ç, —á—Ç–æ –Ω–µ–∫–æ—Ç–æ—Ä—ã–µ —Ä–∞–∑–ª–∏—á–Ω—ã–µ –∞–¥—Ä–µ—Å–∞ –ø–æ–º–µ—á–µ–Ω—ã –æ–¥–∏–Ω–∞–∫–æ–≤—ã–º–∏ 
# –≥–µ–æ–≥—Ä–∞—Ñ–∏—á–µ—Å–∫–∏–º–∏ –∫–æ–æ—Ä–¥–∏–Ω–∞—Ç–∞–º–∏.
print(melb_data['Address'].nunique() > melb_data['Coordinates'].nunique())

True

In [ ]:
# –°–∫–æ–ª—å–∫–æ –ø—Ä–æ—Ü–µ–Ω—Ç–æ–≤ –æ—Ç –æ–±—â–µ–≥–æ –∫–æ–ª–∏—á–µ—Å—Ç–≤–∞ –¥–æ–º–æ–≤ —Å–æ—Å—Ç–∞–≤–ª—è—é—Ç —Ç–∞—É–Ω—Ö–∞—É—Å—ã 
# (—Ç–∏–ø –æ–±—ä–µ–∫—Ç–∞ ‚Äî t)?
print('–°—Ç–æ–ª–±—Ü—ã:', list(melb_data.columns[:]))

print((melb_data['Type'] == 't').mean() * 100)

–°—Ç–æ–ª–±—Ü—ã: ['index', 'Suburb', 'Address', 'Rooms', 'Type', 'Price', 'Method', 'SellerG', 'Date', 'Distance', 'Postcode', 'Bedroom', 'Bathroom', 'Car', 'Landsize', 'BuildingArea', 'YearBuilt', 'CouncilArea', 'Lattitude', 'Longtitude', 'Regionname', 'Propertycount', 'Coordinates']
8.203240058910161
0        h
1        h
2        h
3        h
4        h
        ..
13575    h
13576    h
13577    h
13578    h
13579    h
Name: Type, Length: 13580, dtype: object